.ans_list_item {
  width: 540px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, .2);
}

.ans_user {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.ans_desc {
  font-size: 14px;
}

.ans_image_container {
  display: flex;
  max-width: 100%;
}

.ans_image {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 10px;
}


/* Answer Form */
.answer_form_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.answer_form {
  width: 80%;
}

.answer_form_header{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.answer_form_input_section {
  display: flex;
}

.answer_form_img_previews {
  display: flex;
  flex-flow: row wrap;
}
.answer_form_img_previews > .preview_image {
  width: 200px;
  height: 100px;
  object-fit: cover;
  float:left;
}
.preview_image:nth-child(2n){
  margin-left: 20px;
}

.description_input{
  width: 50%;
  resize: none;
  outline: none;
}

.description_input::selection{
}
.upload_label_box{
  width: 50%;
}

.upload_container {
  background-color: rgba(0,0,0, .07);
  border: 1px dashed rgba(0,0,0, .13);
  color: rgba(0,0,0, .65);
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload_container.file_hover {
  background-color: #666;
}

.camera_icon {
  margin-bottom: 5px;
  font-size: 30px;
}

.image_label {
  font-size: 18px;
}

.upload_input {
  display:none;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px;
}

.form_button {
  cursor: pointer;
  padding: 5px 10px;
}
