
.form {
  width: 420px;
}

.title, .description {
  border: none;
  outline: none;
}

.title {
  width: 400px;
  padding: 5px 10px;
}

.description{
  width: 400px;
  height: 200px;
  background: white;
  padding: 10px;
}
.description:focus {
  outline: none;
}

.image_container {
  display: flex;
  flex-flow: row wrap;
}
.image_container > .preview_image {
  width: 200px;
  height: 100px;
  object-fit: cover;
  float:left;
}
.preview_image:nth-child(2n){
  margin-left: 20px;
}

.upload_container {
  width: 1fr;
  background-color: #555;
  border: 1px dashed #333;
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload_container.file_hover {
  background-color: #666;
}

.camera_icon {
  margin-bottom: 5px;
  font-size: 30px;
}

.image_label {
  font-size: 18px;
}

.upload_input {
  display:none;
}

/* Error page */

.single_error_preview_container {
  /* background-color: rgba(165, 18, 18, 0.7); */
  border: 1px solid black;
  box-shadow: 3px 3px 2px 1px rgba(0,0,0, .2);
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 10px 20px;
}

.error_preview_header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.error_preview_title {
  font-size: 18px;
  max-width: 80%;
}
.error_preview_user {
  font-size: 14px;
  max-width: 80%;
}

.styles.error_preview_navigate {
  font-size: 24px;
}

.error_preview_body {
  /* padding: 10px 20px; */
  margin-bottom: 20px;
}

.error_preview_desc {
  font-size: 16px;
  margin-bottom: 10px;
  height: 100px;
  text-overflow: ellipsis;
}

.error_preview_footer {
  display: flex;
  justify-content: space-between;
}

.err_preview_img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (min-width: 1065px) {
  .single_error_preview_container {
    max-width: 400px
  }
  
  .error_preview_header {
    display: flex;
    flex-direction: column;
  }

  .err_preview_img {
    width: 180px;
    height: 100px;
  }
}